@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Red (#B6494D) variations */
  --red-50: #f7e5e6; /* Lightest */
  --red-100: #eecbcd;
  --red-200: #e5b1b4;
  --red-300: #dc979b;
  --red-400: #d37d82;
  --red-500: #b6494d; /* Base color */
  --red-600: #923b3e;
  --red-700: #6d2c2e;
  --red-800: #491d1f;
  --red-900: #240f0f; /* Darkest */

  /* Green (#113B36) variations */
  --green-50: #e1e7e6; /* Lightest */
  --green-100: #c3cfcd;
  --green-200: #a5b7b4;
  --green-300: #879f9b;
  --green-400: #698782;
  --green-500: #113b36; /* Base color */
  --green-600: #0e2f2b;
  --green-700: #0a2320;
  --green-800: #071816;
  --green-900: #030c0b; /* Darkest */

  /* Yellow (#E8B04B) variations */
  --yellow-50: #fdf6e5; /* Lightest */
  --yellow-100: #faeccb;
  --yellow-200: #f7e2b1;
  --yellow-300: #f4d897;
  --yellow-400: #f1ce7d;
  --yellow-500: #e8b04b; /* Base color */
  --yellow-600: #ba8d3c;
  --yellow-700: #8b692d;
  --yellow-800: #5d461e;
  --yellow-900: #2e230f; /* Darkest */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  background-color: var(--green-50);
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--green-50);
  min-height: 100vh;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
